@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
    background-color: #EFF1F6;
    font-family: Futura;
    font-size: 14px;
}

.main {
    background-color: #E5E7EB;
    border-radius: 15px;
    padding: 3px;
}

.overall {
    box-shadow: 0px 3px 3px  rgba(0,0,0,0.3);
    border-radius: 15px;
}

.card {
    border-radius: 15px;
    box-shadow: none;
    color: #868686;
}

.card-content .card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.dropdown {
    position: absolute;
    right: 20px;
    width: 20ex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
    z-index: 10;

    padding: 0.5em 0.1em 0.5em 1em;
}

.dropdown .checkbox {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.dropdown input {
    margin-right: 1ex;
}

.section {
    padding: 10px;
}

.btn {
    display: block;
    font-size: 80%;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background-color: #E1E4EC;
    color: #343537;
    padding: 6px 12px 6px 12px ;
    cursor: pointer;
}

.btn.toggled {
    background-color: #1D2C58;
    color: white;
}

h5 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 120%;
    color: #313131;
}

h2 {
    font-weight: bold;
}